{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Prueba de Symfony i PHP! ✅</h1>

        Utilizando el framework Symfony deberás desarrollar las siguientes tareas:
        <ul type="square">
            <li>Tarea 1: <code><a href="{{ path('ascii', {'string': 'puerta'}) }}">ascii/puerta</a></code></li>
            <li>Tarea 2: <code><a href="{{ 'src/Controller/WelcomeController.php'|file_link(0) }}">src/Controller/WelcomeController.php</a></code></li>
            <li>Tarea 3: <code><a href="{{ 'src/Controller/WelcomeController.php'|file_link(0) }}">src/Controller/WelcomeController.php</a></code></li>
            <li>Tarea 4: <code><a href="{{ 'src/Controller/WelcomeController.php'|file_link(0) }}">src/Controller/WelcomeController.php</a></code></li>
            <li>Tarea 5: <code><a href="{{ 'src/Controller/WelcomeController.php'|file_link(0) }}">src/Controller/WelcomeController.php</a></code></li>
            <li>Tarea 6: <code><a href="{{ 'src/Controller/WelcomeController.php'|file_link(0) }}">src/Controller/WelcomeController.php</a></code></li>
        </ul>
    </div>
{% endblock %}